{{#> emailFrame}}
<p>Dear {{name}},</p>
<p>We are delighted to inform you that your application to
  become a tutor with Tutorify <b>has been successful</b>. Your qualifications and experience
  stood out
  to us, and we believe you will be a valuable addition to our team.
</p>
<p>With your account, you can now access the Tutorify
  system and explore classes that align with your expertise and interests. We are excited to see
  the positive impact you will make on our learners.
</p>
<p>We appreciate the time and effort you put into your
  application. Your interest in Tutorify and your commitment to sharing knowledge are commendable.
  We're thrilled to welcome you to our team!
</p>
<p>Best regards,
</p>
<p>The Tutorify Team
</p>
{{/emailFrame}}