{{#> emailFrame}}
<p>Dear {{name}},</p>
<p class="sm-leading-8" style="margin: 0; margin-bottom: 24px; font-size: 24px; font-weight: 600;">
  Is it you we're looking for?
</p>
<p style="margin: 0; margin-bottom: 24px"> We hope this email finds you well! You’re one step away
  from unlocking the full potential of Tutorify. Please take a
  moment to confirm your email address by clicking the button below: </p>
<div style="line-height: 100%">
  <a href="{{url}}" class="hover-bg-primary-light"
    style="text-decoration: none; display: inline-block; border-radius: 4px; background-color: #f0a500; padding-top: 14px; padding-bottom: 14px; padding-left: 16px; padding-right: 16px; text-align: center; font-size: 16px; font-weight: 600; color: #fff">
    <span style="mso-text-raise: 16px">Confirm email address &rarr;</span>
  </a>
</div>
<table style="width: 100%" role="presentation">
  <tr>
    <td style="padding-top: 32px; padding-bottom: 32px">
      <div style="height: 1px; background-color: #e2e8f0; line-height: 1px">&zwnj;</div>
    </td>
  </tr>
</table>
<p>If you didn't sign up for Tutorify, you can
  safely ignore this email.</p>
<p>Thank you for choosing Tutorify! We look forward to
  assisting you on your learning journey.
</p>
<p>Best regards,
</p>
<p>The Tutorify Team
</p>
{{/emailFrame}}