{{#> emailFrame}}
<p>Dear {{name}},</p>
<p>I hope this email finds you well. We are pleased to inform you that you
    have received a tutoring request for the class <b>{{classTitle}}</b>.
</p>
<p>You can review the details of the tutoring request by clicking on the
    following link: <a href="{{urlToClass}}">{{urlToClass}}</a></p>
<p>If you have any questions or need further assistance, please feel free to
    reach out to our
    support team.</p>

<p>Best regards,</p>
<p>The Tutorify Team</p>
{{/emailFrame}}