{{#> emailFrame}}
<p>Dear {{name}},</p>
<p>We appreciate the time and effort you put into your
  application to become a tutor with Tutorify. We received a number of applications from highly
  qualified individuals, which made our decision-making process challenging.
</p>
<p>After careful consideration, we regret to inform you
  that we will not be moving forward with your application at this time. This decision was not an
  easy one to make as your qualifications and experience are impressive.
</p>
<p>We encourage you to apply again in the future should you
  see a position that aligns with your expertise and interests. We believe that you have a lot to
  offer and we wish you the best in your future endeavors.
</p>
<p>Thank you once again for your interest in Tutorify and
  for your understanding.
</p>
<p>Best regards,
</p>
<p>The Tutorify Team
</p>
{{/emailFrame}}