{{#> emailFrame}}
<p>Dear {{name}},</p>
<p class="sm-leading-8" style="margin: 0; margin-bottom: 24px; font-size: 24px; font-weight: 600;">
  Need to reset your password?
</p>
<p style="margin: 0; margin-bottom: 24px"> We received a request to reset your password for your
  Tutorify account. Please click the button below to set a new password: </p>
<div style="line-height: 100%">
  <a href="{{url}}" class="hover-bg-primary-light">
    <span>Reset Password &rarr;</span>
  </a>
</div>
<table style="width: 100%" role="presentation">
  <tr>
    <td style="padding-top: 32px; padding-bottom: 32px">
      <div style="height: 1px; background-color: #e2e8f0; line-height: 1px">‌</div>
    </td>
  </tr>
</table>
<p>If you didn't request a password reset, please ignore
  this email or contact support if you have any questions.</p>
<p>Thank you for using Tutorify! We're here to support you
  on your learning journey.</p>
<p>Best regards,</p>
<p>The Tutorify Team</p>
{{/emailFrame}}