{{#> emailFrame}}
<p>Dear {{name}},</p>
<p>We received a request to reset your password for your
  account associated with this email address. If you made this request, please find your new
  temporary password below:</p>

<p><b>Temporary Password:</b> {{newPassword}}</p>

<p>Please use this temporary password to log in to your
  account. For security reasons, we strongly recommend that you change this temporary password
  immediately after logging in.</p>

<p>Thank you for your attention to this matter.</p>

<p>Best regards,
</p>
<p>The Tutorify Team
</p>
{{/emailFrame}}