{{#> emailFrame}}
<p>Dear {{name}},</p>

<p>I hope this email finds you well. I wanted to inform you that we have
    successfully received your application to become a tutor with Tutorify. Your
    qualifications and experience stood out to us, and we believe you would be a
    valuable addition to our team.</p>

<p>With your application now in our system, we will review it thoroughly.
    Please allow some time for our team to assess your profile and match it with
    suitable opportunities within Tutorify. We appreciate your interest in
    sharing your knowledge and expertise with our learners.</p>

<p>Thank you for your patience, and we will be in touch soon with further
    details. If you have any questions in the meantime, feel free to reach out.</p>

<p>Best regards,</p>

<p>The Tutorify Team</p>
{{/emailFrame}}